<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Walk</title>
    <script async src="/static/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
    <div id="random_walk_value_div">
        <h3>Live Random Walk</h3>
        <p id="random_walk_time"></p>
        <p id="random_walk_value"></p>
    </div>

    <a href="./chart" target="_blank" id="live_chart_link">Live Chart</a>
    <a href="./chart_replay" target="_blank" id="replay_link">Historical Random Walk Replay</a>

</body>
</html>